body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #21232e; }

header {
  background-image: url(../img/m-h-day.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 40% 0;
  color: #2c2f3c; }

button {
  background-color: #699900;
  border: none;
  width: 180px;
  height: 60px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer; }

.header_heading,
.section_text,
.section_card_heading {
  font-family: 'Source Sans Pro', sans-serif; }

a {
  color: #ffffff;
  font-size: 24px; }

p {
  margin: 0; }

.landing-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  vertical-align: baseline; }
  .landing-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px; }
  .landing-logo p {
    padding-top: 5px;
    line-height: 20px;
    text-align: center; }
  .landing-logo span {
    font-size: small; }

.header-wrap {
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto; }
  .header-wrap .header_heading {
    font-size: 60px;
    font-weight: bold;
    margin: 50px 0 40px 0; }
  .header-wrap .header_text {
    margin-bottom: 80px;
    line-height: 25px;
    font-size: 20px; }
  .header-wrap .login {
    margin-left: 120px; }
  .header-wrap div:last-child {
    padding-bottom: 120px; }

.section {
  position: relative;
  margin: 0 auto; }
  .section .section_text {
    text-align: center;
    font-size: 40px;
    color: #2c2f3c;
    margin: 45px 0; }
  .section .section_card_wrap {
    margin-bottom: 175px; }
  .section .section_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 820px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 20px;
    background-color: #21232e;
    border-radius: 5px; }
    .section .section_card .section_card_img {
      border-radius: 5px; }
    .section .section_card .section_card_right_container {
      text-align: center;
      padding: 20px 100px; }
      .section .section_card .section_card_right_container .section_card_heading {
        font-size: 30px;
        margin-bottom: 20px; }
      .section .section_card .section_card_right_container .section_card_text {
        text-align: justify;
        color: #c0b9c4;
        margin-bottom: 10px; }
      .section .section_card .section_card_right_container a {
        color: #c0b9c4; }
  .section .section_card:nth-child(1) img {
    width: 110%; }
  .section .section_card:nth-child(3) img {
    width: 120%; }

.section_banner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 860px;
  left: 50%;
  margin-left: -455px;
  margin-top: -4em;
  padding: 25px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#649413), to(#2e5cd3));
  background: linear-gradient(to right, #649413, #2e5cd3); }
  .section_banner .section_banner_heading {
    font-size: 30px;
    font-weight: bold; }
  .section_banner .section_banner_text {
    color: #c0b9c4;
    margin-top: 20px; }
  .section_banner button {
    margin-top: 10px; }

footer {
  width: 100%;
  background-color: #21232e;
  color: #c0b9c4;
  padding-top: 140px;
  padding-bottom: 50px;
  z-index: 0; }
  footer .footer-wrap {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; }
    footer .footer-wrap .footer_logo {
      width: 150px; }
      footer .footer-wrap .footer_logo p {
        text-align: center; }
    footer .footer-wrap p {
      width: 360px;
      text-align: justify; }
    footer .footer-wrap .footer-cran {
      width: 200px; }

.awesome {
  display: inline-block;
  background-color: #14a0c7;
  color: inherit;
  line-height: 30px;
  padding-bottom: 20px; }

.adventure, .start {
  display: inline-block;
  background-color: #14a0c7;
  color: inherit;
  line-height: 30px;
  padding-top: 10px; }

/*# sourceMappingURL=style1.css.map */