/* TODO: your styles goes here*/
#root{
   width: 500px;
   height: 500px;
   margin: 0 auto;
   box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
   border-radius: 10px;
}
li{
   list-style-type: none;
}

