// Write your styles here
$fontColor: (
   "silver": #c0b9c4,
   "light": #ffffff
);

@mixin button{
   border: none;
   width: 180px;
   height: 60px;
   color: map-get($fontColor, "light");
   font-size: 20px;
   cursor: pointer;
   font-family: 'Source Sans Pro', sans-serif;
}
@mixin link{
   color: map-get($fontColor, "light");
   font-size: 24px;
   font-family: 'Source Sans Pro', sans-serif;
}

body{
   background-color: $bg-color;
   margin: 0;
   font-family: $font;
   color: $bg-cards;
   font-family: $fontFamBody;
}
header{
   background-image: $bg-img;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 0 0 50% 0;
   color: $headerColor;
   padding-top: 30px;
}
button{
   background-color: $bg-button;
   @include button;
}

a{
   @include link;
}
p{
   margin: 0;
}
.landing-logo{
   display: inline-block;
   height: 50px;
   font-size: 30px;
   font-weight: 600;
   text-align: center;
   vertical-align: baseline;
   img{
      float: left;
      margin-right: 15px;
   }
   p{
      padding-top: 5px;
      margin-left: 10px;
      line-height: 20px;
      text-align: center;
   }
   span{
      font-size: small;
      display: inline-block;
   }
}
.header-wrap{
   max-width: 1200px;
   margin: 0 auto; 
   .header_heading{
      position: relative;
      line-height: 80px;
      font-size: 80px;
      font-weight: 900;
      margin: 50px 0 50px 0;
      max-width: 650px;
      z-index: 1;
      font-family: 'Source Sans Pro', sans-serif;
      &:before{
         content: " ";
         width: 335px;
         position: absolute;
         bottom: 0;
         background-color: $bg-colorBefore;
         height: 55px;
         z-index: -1;
      }
   }
   .header_text{
      white-space: pre-line;
      text-align: left;
      margin-bottom: 40px;
      font-size: 20px;
   }
   .login{
      margin-left: 120px;
   }
   div:last-child{
      padding-bottom: 165px;
   }
}

.section{
   position: relative;
   margin: 0 auto;
   .section_text{
      position: relative;
      text-align: center;
      font-size: 40px;
      font-weight: 900;
      vertical-align: bottom;
      color: $headerColor;
      margin: 45px 0;
      line-height: 25px;
      font-family: 'Hind', sans-serif;
      &::before{
         content: ' ';
         width: 185px;
         position: absolute;
         left: 774px;
         bottom: 0;
         background-color: $bg-colorBefore;
         height: 45px;
         z-index: -1;
      }
   }
   .section_card_wrap{
      margin-bottom: 175px;
   }
   .section_card{
      display: flex;
      justify-content: space-between;
      max-width: 820px;
      margin: 0 auto;
      margin-bottom: 20px;
      color: map-get($fontColor, "light");
      padding: 20px ;
      background-color: $bg-cards;
      border-radius: 5px;
      .section_card_img{
         border-radius: 5px;
         height: 200px;
      }
      .section_card_right_container{
         text-align: center;
         padding: 10px 70px;
         .section_card_heading{
            font-size: 30px;
            margin-bottom: 20px;
            font-family: 'Source Sans Pro', sans-serif;
         }
         .section_card_text{
            text-align: justify;
            color: map-get($fontColor, "silver");
            margin-bottom: 10px;
         }
         a{
            color: map-get($fontColor, "silver");
         }
      }
   }
   .section_card:nth-child(1) img{
      width: 101%;
   }
   .section_card:nth-child(3) img{
      width: 102%;
   }
}
   .section_banner{
      position: absolute;
      display: flex;
      justify-content: space-around;
      width: 860px;
      left: 50%;
      margin-left: -455px;
      margin-top: -4em;
      padding: 15px 0 35px 0;
      border-radius: 5px;
      background: $lenearBanner;
      z-index: 10;
      .section_banner_heading{
         position: relative;
         font-size: 30px;
         font-weight: bold;
         line-height: 60px;
         font-family: 'Hind', sans-serif;
         color: $colorBannerText;
         &:before{
            content: " ";
            background-color: $bg-colorBefore;
            position: absolute;
            width: 63px;
            height: 45px;
            z-index: -1;
            left: 124px;
         }
      }
      .section_banner_text{
         color: map-get($fontColor, "silver");
      }
      button{
         margin-top: 20px;
      }
   }

footer{
   width: 100%;
   background-color: $bg-footer;
   color: map-get($fontColor, "silver");
   padding-top: 140px;
   padding-bottom: 50px;
   .footer-wrap{
      @extend .header-wrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer_logo{
         img{
            float: left;
         }
         p{
            text-align: center;
         }
      }
      .footer_text{
         width: 360px;
         text-align: left;
      }
      .footer-cran{
         width: 200px;
      }
   }
   
}


