$bg-color: #21232e;
$bg-img: url(../img/m-h-night.jpg);
$bg-mark: #ff4e33;
$bg-button: #e3ac00;
$font: 'Fresca', sans-serif;
$headerColor: #ffffff;
$bg-cards: #3b3f50;
$lenearBanner: linear-gradient(to right, #dea405, #97334e);
$bg-footer: #3b3f50;
$footerText: justify;
$fontFamBody:  'Fresca', sans-serif;
$bg-colorBefore: rgb(235, 59, 5);
