$bg-color: #ffffff;
$bg-img: url(../img/m-h-day.jpg);
$bg-mark: #14a0c7;
$bg-button: #699900;
$font: 'Source Sans Pro', sans-serif;
$headerColor: #2c2f3c;
$bg-cards: #21232e;
$lenearBanner: linear-gradient(to right, #649413, #2e5cd3);
$bg-footer: #21232e;
$footerText: left;
$fontFamBody: 'Hind', sans-serif;
$bg-colorBefore:  rgb(11, 172, 194);